<ion-view view-title="Account">
  <ion-content class="padding">
    <div ng-hide="user.name">
      <h4>Create account</h4>
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="user.newName">
      </label>
      <button class="button button-full button-positive" ng-click="createUser()">
        Create
      </button>
    </div>
    <div ng-show="user.name">
      <h4>Current user</h4>
      <p>{{user.name}}</p>
    </div>
  </ion-content>
</ion-view>
